<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>

  <connectionStrings>
    <add name="DefaultConnectionString" connectionString="Data Source=localhost;Initial Catalog=Coeus;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="weblog.txt" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
      </layout>
    </appender>
    <logger name="default">
      <level value="DEBUG" />
      <appender-ref ref="FileAppender" />
    </logger>
  </log4net>

  <unity>
    <typeAliases>
      <typeAlias alias="ISecurityService" type="$safeprojectname$.Services.ISecurityService, $safeprojectname$"/>
      <typeAlias alias="SecurityService" type="$safeprojectname$.Services.Impl.SecurityService, $safeprojectname$"/>
      <typeAlias alias="AuthorizationFilter" type="$safeprojectname$.Filters.AuthorizationFilter, $safeprojectname$"/>
      <typeAlias alias="ExceptionFilter" type="$safeprojectname$.Filters.ExceptionFilter, $safeprojectname$"/>
      <typeAlias alias="LoggingActionFilter" type="$safeprojectname$.Filters.LoggingActionFilter, $safeprojectname$"/>
      <typeAlias alias="SecurityController" type="$safeprojectname$.Controllers.SecurityController, $safeprojectname$"/>
      <!-- other types -->
      <typeAlias alias="IDictionaryString" type="System.Collections.Generic.IDictionary`2[System.String,System.String]"/>
      <typeAlias alias="DictionaryString" type="System.Collections.Generic.Dictionary`2[System.String,System.String]"/>
    </typeAliases>
    <containers>
      <container>
        <register type="ISecurityService" mapTo="SecurityService">
          <property name="TokenExpiration" value="60" />
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="AuthorizationFilter">
          <property name="Logger" />
          <property name="SecurityService" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="ExceptionFilter">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="LoggingActionFilter">
          <property name="Logger" />
          <method name="CheckConfiguration" />
          <lifetime type="singleton" />
        </register>
        <register type="SecurityController">
          <property name="Logger" />
          <property name="SecurityService" />
          <method name="CheckConfiguration" />
        </register>
      </container>
    </containers>
  </unity>

  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="WebDAVModule" />
    </modules>
  </system.webServer>
  
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  
</configuration>